.crud{
    border: solid 4px red;
}

.generos-container, .plataformas-container{
    display: flex;
    flex-wrap: wrap;
}

.genero, .plataforma {
    flex: 0 0 calc(33.33% - 10px); /* Calcula el ancho de cada genero (33.33%) menos el espacio entre ellos */
    margin: 5px; /* Espacio entre los géneros */
}

.ljuegos-Img{
    width: 10%;
    width: 20%;
}


.cim{
    height: 50vh;
}



/*------------------------------------------*/
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  .container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    color: #cc0000;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #8c1aff;
  }
  
  input[type=text], input[type=number] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;
  }
  
  button {
    background-color: #cc0000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color: #990000;
  }

  .wlc{
    display: flex;
    align-items: center;
    flex-direction: column;

  }